:root {
  --color-orange: gray;
  --color-dark: #2a2a2a;

  --body-bg: rgb(212, 242, 252);
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;
  --dark-border-color: white;

  --shadow: 5px 5px 40px 9px rgba(128, 128, 128, 0.4);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title span {
  border-bottom: 3px solid var(--color-orange);
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

[for="darkMode"] {
  position: fixed;
  top: 6rem;
  left: 3rem;
}

[for="darkMode"]:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.3s;
}

#darkMode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
  --border-color: var(--dark-border-color);
}

#darkMode {
  display: none;
}

header {
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  background: var(--body-bg);
}

header .header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.line:before {
  content: "";
  background-color: var(--color-orange);
  width: 4px;
  height: 100%;

  position: absolute;
  left: 30%;
}

.navigation {
  list-style: none;
  font-weight: bold;
}

.navigation li:hover {
  color: var(--color-orange);
  transition: all;
}

.hero {
  margin-top: 25px;
  border-radius: 50px;
  background: var(--color-orange);
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--shadow);
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}

.left .tag {
  font-size: 2.3rem;
  font-weight: bolder;
  letter-spacing: 5px;
}

.left button {
  background: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  grid-area: right;
  justify-content: center;
  align-items: center;
}

.right img {
  height: 75%;
}
/* banner section */
.banner {
  background: var(--color-orange);
  margin-top: 7rem;
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 50px;

  justify-content: space-evenly;
  align-items: center;
}

.info-content div span {
  font-weight: bolder;
  font-size: 1.3rem;
  letter-spacing: 5px;
}

.info-content div p {
  color: var(--color-orange);
}

.info-divider {
  background: gray;
  width: 2px;
  height: 70px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictures {
  padding-top: ;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}

.projects-main {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
}
.articles {
  width: 99%;
  display: grid;
  justify-content: center;
}

article {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;

  box-shadow: -5px 5px 10px 5px rgba(128, 128, 128, 0.74);
  background: gray;

  border-radius: 20px;

  margin: 50px;
  padding: 50px;
  gap: 100px;
  grid-template-columns: ;
}

.article1 {
  grid-area: article1;
}

.articledisc {
  display: grid;
  justify-items: center;
  gap: -25px;
}

.articledisc img:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.article2 {
  grid-area: article2;
}

.article3 {
  grid-area: article3;
}

.article4 {
  grid-area: article4;
}

.aboutme {
  display: flex;
  justify-content: center;

  margin: 25px;
  height: 100vh;
}

.intro {
  background-color: var(--body-bg);
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main3 {
  background-color: var(--color-orange);

  margin: 50px;
  border-radius: 40px;
  padding: 50px;
  box-shadow: var(--shadow);
}

.main-body3 {
  width: auto;
  height: auto;
  display: grid;
  grid-template-areas: "i1  i2";
  gap: 10px;
  grid-template-columns: 2fr 3fr;
}

.left-disc3 {
  grid-area: i2;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-disc3 {
  grid-area: i1;
  margin-left: 50px;
  margin-bottom: 20px;
}

.connect {
  background-color: var(--color-orange);
  height: auto;
  margin: 50px;
  padding: 25px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
footer {
  background-color: gray;
  margin: 0;
  position: relative;
}

.footer-topics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.copyright {
  display: flex;
  justify-content: center;
}

.navtop {
  height: 70px;
  width: 70px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#hamburgerMenu {
  display: none;
}
[for="hamburgerMenu"] {
  display: none;
}
/* media query */
@media (max-width: 768px) {
  [for="hamburgerMenu"] {
    cursor: pointer;
    display: block;
  }
  .menu {
    position: absolute;
    background: var(--body-bg);

    width: 250px;
    height: auto;
    top: 3.5rem;

    box-shadow: var(--shadow);

    left: 80vw;
    transition: all 0.5s;
  }
  .menu .navigation {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .menu .navigation li {
    line-height: 2.5rem;
  }

  #hamburgerMenu:checked + .menu {
    left: calc(100vw - 250px);
  }

  /* hero  */
  .hero {
    grid-template-areas:
      "right"
      "left";
  }

  .hero .right {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .hero .right img {
    width: 80%;
  }

  /* banner  */
  .banner {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
  }

  .info-divider {
    display: none;
  }

  /* projects  */
  .projects .project-container {
    grid-template-columns: 1fr;
  }

  /* about  */
  .about-conent {
    flex-direction: column;
    align-items: center;
  }

  .about .myImg {
    width: 100%;
  }
}
/* nav section */
/* .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 75px;
  background: rgb(199, 191, 191);
  background-size: cover;
  justify-content: center;
}

.main,
.about,
.skills2,
.projects2,
.contact {
  color: black;
  font-size: large;
  font-family: sans-serif;

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  cursor: pointer;
  flex-grow: 0.2;
  margin-right: 20px;
}

.logo {
  flex-grow: 1.5;
  margin-left: 50px;
} */

/* main section first */
/* .main-section {
  background-color: red;
  margin: 50px;
}

.main-body {
  width: auto;
  height: 300px;
  padding: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: " left-disc  right-disc";
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  box-shadow: 10px 10px 10px 10px gray;
}

.right-disc {
  grid-area: right-disc;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 250px;
}

.right-disc > img {
  width: 250px;
  height: auto;
}
 */
/* experience section */
/* .main-section2 {
  margin: 50px;
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 5px 5px 10px 10px solid rgb(179, 163, 163);
}

.main-body2 {
  padding: 15px;
  display: grid;

  align-items: center;
  grid-template-areas: "graduation  projects  experience";
}

.graduation {
  grid-area: graduation;
  display: grid;
  justify-content: start;
}
.projects {
  grid-area: projects;
  display: grid;
  justify-content: center;
}
.experience {
  grid-area: experience;
  display: grid;
  justify-content: end;
}

h4 {
  color: red;
}
.skills {
  display: flex;
  justify-content: center;
}
.topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictures {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-main {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
}
.articles {
  width: 99%;
  display: grid;
  justify-content: center;
}

article {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;

  box-shadow: -5px 5px 10px 5px rgba(128, 128, 128, 0.74);
  background: gainsboro;
  border-radius: 20px;

  margin: 50px;
  padding: 50px;
  gap: 100px;
  grid-template-columns: ;
}

.article1 {
  grid-area: article1;
}

.articledisc {
  display: grid;
  justify-items: center;
  gap: -25px;
}

.articledisc img:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.article2 {
  grid-area: article2;
}

.article3 {
  grid-area: article3;
}

.article4 {
  grid-area: article4;
}

.aboutme {
  display: flex;
  justify-content: center;

  margin: 25px;
  height: 100vh;
}

.intro {
  background-color: aliceblue;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main3 {
  background-color: aliceblue;
  margin: 50px;
  border-radius: 40px;
  padding: 50px;
  box-shadow: 10px 10px 10px 10px gray;
}

.main-body3 {
  width: auto;
  height: auto;
  display: grid;
  grid-template-areas: "i1  i2";
  gap: 10px;
  grid-template-columns: 2fr 3fr;
}

.left-disc3 {
  grid-area: i2;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-disc3 {
  grid-area: i1;
  margin-left: 50px;
  margin-bottom: 20px;
}

.connect {
  background-color: rgb(224, 128, 128);
  height: auto;
  margin: 50px;
  padding: 25px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
footer {
  background-color: gray;
  margin: 0;
  position: relative;
}

.footer-topics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.copyright {
  display: flex;
  justify-content: center;
}

.navtop {
  height: 70px;
  width: 70px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} */
